.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.adminPanelForm {
  display:flex;
  flex-direction: column;
  width: 50%
}

#page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content-wrap {
  padding-bottom: 2.5rem;  
  flex: 1;  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.button {
  display: block;
  max-width: 300px;
  margin: auto;
}

.Container {
  margin-left: 1in;
  margin-right: 1in;
}

.ui.fluid.container {
  width: 100% !important;
  margin: 0 !important;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(56deg) brightness(98%) contrast(105%);
}

.dpl-blue {
  background-color: #4901DB !important;
}

.segment-size {
  width: 240px; 
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

