<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
 </head>
 <body style="height:100vh;background:#4901DB;color:white;font-family:'Audiowide',cursive;padding:50px;">
   <h1>DevPoint Store</h1>
   <h3>Subject: <%= @subject %></h3>
   <p>
    Your Email: <%= @email %>.<br>
   </p>
   <br />
   <hr />
   <br />
   <span>Thank you for your purchase <%= @name %>!</span>

   <p>Your total was <%= @total %></p>
 </body>
</html>
